{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem aut maiores hic repellendus eveniet
    recusandae, harum, quis aperiam debitis consequuntur numquam. Repudiandae ipsam exercitationem aliquid esse rerum
    consequuntur in enim.</p>
<p>Eveniet incidunt dolorum perspiciatis sunt a itaque laboriosam? Exercitationem est adipisci dolorum quasi veniam
    eaque consectetur suscipit non doloribus, ad aliquid, esse quia laborum natus, modi accusantium dolor id sequi?</p>

{% endblock %}